{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<h2>Create Tools</h2>
{% if errors %}
    <div>
        {% for field, error_list in errors.items %}
        <div class="alert alert-danger" role="alert">
            {% for error in error_list %}
            Error in field {{ field }}: {{ error }}<br>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div id="form-container">
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            <div class="d-flex">
                {{ field|add_class:"form-control flex-grow-1" }}
                {% if "GitHub" in field.label %}
                    <button type="button" id="add-repo" class="btn btn-success feather icon-plus-circle ml-2"></button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <button type="button" id="add-field" class="btn btn-secondary">Add Custom Field</button>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script type="text/javascript">
let fieldCounter = 0;
let repoCounter = 0;

function removeField(element) {
    element.parentElement.parentElement.remove();
}

document.getElementById('add-field').onclick = function() {
    fieldCounter++;
    const formContainer = document.getElementById('form-container');
    const newFieldDiv = document.createElement('div');
    newFieldDiv.classList.add('form-group');
    newFieldDiv.innerHTML = `
        <label for="custom_field_${fieldCounter}">Custom Field ${fieldCounter}:</label>
        <div class="d-flex">
            <input type="text" name="custom_field_${fieldCounter}" class="form-control flex-grow-1" id="custom_field_${fieldCounter}">
            <input type="text" name="default_value_${fieldCounter}" class="form-control ml-2" id="default_value_${fieldCounter}" placeholder="Default Value (optional)">
            <input type="text" name="preset_value_${fieldCounter}" class="form-control ml-2" id="preset_value_${fieldCounter}" placeholder="Preset Value (optional)">
            <button type="button" class="btn btn-danger ml-2" onclick="removeField(this)">-</button>
        </div>
    `;
    formContainer.appendChild(newFieldDiv);

    document.getElementById(`default_value_${fieldCounter}`).addEventListener('input', function() {
        toggleFieldState(`preset_value_${fieldCounter}`, this);
    });

    document.getElementById(`preset_value_${fieldCounter}`).addEventListener('input', function() {
        toggleFieldState(`default_value_${fieldCounter}`, this);
    });
};

function toggleFieldState(fieldToToggle, currentField) {
    const field = document.getElementById(fieldToToggle);
    field.disabled = currentField.value.length > 0;
}

document.getElementById('add-repo').onclick = function() {
    repoCounter++;
    const formContainer = document.getElementById('form-container');
    const newRepoDiv = document.createElement('div');
    newRepoDiv.classList.add('form-group');
    newRepoDiv.innerHTML = `
        <label for="github_repo_${repoCounter}">GitHub Repo ${repoCounter}:</label>
        <div class="d-flex">
            <input type="text" name="github_repo_${repoCounter}" class="form-control flex-grow-1" id="github_repo_${repoCounter}">
            <button type="button" class="btn btn-danger ml-2" onclick="removeField(this)">-</button>
        </div>
    `;
    formContainer.appendChild(newRepoDiv);
};
</script>
{% endblock %}
