{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<div class="card-body mx-5">
    <div class="wrapper-create-work">
        <form method="POST">
            {% csrf_token %}
            <div>
                <button name="deleteCustom{{name}}" type="submit" class="btn btn-danger ml-2">Delete tool</button>
                <a href="{% url 'edit_tool' tool_name=name %}">
                    <button type="button" class="btn btn-primary">Edit tool</button>
                </a>
            </div>

        </form>

        <h2 class="text-center mb-5" style="text-decoration: underline;">
            <button type="button" class="btn btn-primary btn-xl" disabled>{{ machine_chosen }}</button>
        </h2>
        <form method="post">
            {% csrf_token %}
            <div id="form-container">
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                {% endfor %}
            </div>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ e.eID }}" name="{{name}}ButtonValue">
                <button type="submit" name="{{name}}Button" class="btn btn-success btn-block btn-lg gradient-custom-4 feather icon-play" data-toggle="tooltip" data-placement="top" title="Run execution"></button>
            </form>
        </form>
    </div>
</div>
{% endblock content %}
