{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<html lang="en">
<body>
  <div class="card-header">
    <h5>{{ device_name }}</h5>
  </div>
  <div class="card-block px-0 py-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr class="timeseries-row">
            <td class="timeseries-cell">
              <iframe class="device-timeseries" src="{{ timeseries_link }}" width="1125" height="400" frameborder="0"></iframe>
            </td>
            {% if form %}
            <td align="left">
              <form method="post" action="{% url 'device_detail' edge_name=edge_name device_name=device_name %}" class="actuation-form">
                {% csrf_token %}
                {{ form.as_ul }}
                <button type="submit" class="btn btn-warning" data-toggle="tooltip">Actuate</button>
              </form>
            </td>
            {% endif %}
          </tr>
          <tr class="table-row">
            <td class="table-cell">
              <iframe class="device-table" src="{{ table_link }}" width="1125" height="400" frameborder="0"></iframe>
            </td>
            {% if form %}
            <td></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
{% endblock content %}
