{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Network Graph on World Map with D3.js</title>
  <script src="{% static 'assets/js/d3.v7.min.js' %}"></script>
  <script src="{% static 'assets/js/topojson.v3.min.js' %}"></script>
  <style>
    .land {
      fill: rgb(77, 153, 58);
      stroke-opacity: 0.6;
    }
    .link {
      stroke: #4967c7;
      stroke-opacity: 0.6;
    }
    .node {
      fill: rgb(0, 0, 0);
    }
    .boundary {
      fill: none;
      stroke: white;
      stroke-width: 0.5;
    }
  </style>
</head>
<body>
  <svg id="map-container"></svg>
  <script>
    {{ script_content|safe }}
  </script>
</body>
</html>