{% extends 'layouts/base.html' %}
{% load static %}
<script src="{% static 'assets/js/d3.v7.min.js' %}"></script>
<script src="{% static 'assets/js/topojson.v3.min.js' %}"></script>
{% block breadcrumbs %}
    <!-- Breadcrumbs private_key_decrypted if needed -->
{% endblock breadcrumbs %}

{% block extra_head %}
    <!-- Additional <head> private_key_decrypted specific to this template -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Any additional scripts or styles needed for the template -->
{% endblock extra_head %}

{% block extrastyle %}
    <style>

        .land {
            fill: rgb(200, 230, 190);
            stroke-opacity: 0.6;
        }

        .link {
            stroke: #4967c7;
            stroke-opacity: 0.6;
        }

        .node {
            fill: rgb(0, 0, 0);
        }

        .node-rect {
            fill: rgba(256, 256, 256, 0.5);
            stroke: black;
            stroke-width: 0.5;
        }

        .node-click-rect {
            fill: rgba(256, 256, 256, 0.5);
            stroke: black;
            stroke-width: 0.5;
        }

        .boundary {
            fill: none;
            stroke: white;
            stroke-width: 0.5;
        }



    </style>
{% endblock extrastyle %}

{% block content %}
    <!-- Content specific to this template -->
    <h3 class="page-title">Deployment dashboard</h3>
    <div class="col-xl-12 col-md-12 m-b-30" style="border-radius: 15px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="true">View Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="false">View List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="alerts-tab" data-toggle="tab" href="#alerts" role="tab" aria-controls="home"
                   aria-selected="false">Alerts</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div id="device-panels">
                    {% for edge, devices in edgeDevices.items %}
                        <div class="card-header">
                            <h5>{{ edge.name }} {% if not edge.show %}<span class="status-dot"></span>{% endif %}</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover device-table">
                                    <tbody>
                                    {% for device, form in forms %}
                                        {% if device in devices %}
                                            <tr class="device-row" data-panel="{{ device.timeseries_link }}"
                                                data-actuator="{{ device.is_actionable }}">
                                                <td>{{ device.name }} {% if not device.show %}<span
                                                        class="status-dot"></span>{% endif %}</td>
                                                <td class="panel-cell" style="display: none;">
                                                    <iframe class="device-panel" src="" width="900" height="300"
                                                            frameborder="0"></iframe>
                                                </td>
                                                <td align="right">
                                                    {% if form %}
                                                        <div class="btn-group mb-2 mr-2">
                                                            <form method="post" action="{% url 'dashboard' %}"
                                                                  class="actuation-form" style="display: none">
                                                                {% csrf_token %}
                                                                {{ form.as_ul }}
                                                                <button type="submit" class="btn btn-warning"
                                                                        data-toggle="tooltip">Actuate
                                                                </button>
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                    <a href="{% url 'device_detail' edge_name=edge.name device_name=device.name %}">
                                                        {% if device.is_actionable %}
                                                            <button type="button" class="btn btn-warning"
                                                                    data-toggle="tooltip">View detail & actuate
                                                            </button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-primary"
                                                                    data-toggle="tooltip">View detail
                                                            </button>
                                                        {% endif %}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="tab-pane fade active show" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
                <div class="table-responsive" >
                    <tr class="alerts-row">
                        <td class="alerts-cell">
                          <iframe class="alerts" src="{{ alerts_link }}" width="1125" height="400" frameborder="0"></iframe>
                        </td>
                    </tr>
                </div>
            </div>


            <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive" >
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <script src="{% static 'assets/js/d3.v7.min.js' %}"></script>
                        <script src="{% static 'assets/js/topojson.v3.min.js' %}"></script>
                    </head>
                    <body>
                        <svg id="map-container"></svg>
                        <script>
                            {{ script_content|safe }}
                        </script>
                    </body>
                </div>
            </div>


        </div>
    </div>

    <script>
        var rows = document.getElementsByClassName('device-row');
        Array.from(rows).forEach(function (row) {
            row.addEventListener('click', function (event) {
                var isActuator = this.dataset.actuator;
                if (isActuator === 'true') {
                    var actuationForm = this.querySelector('.actuation-form');
                    actuationForm.style.display = actuationForm.style.display === 'none' ? 'block' : 'none';
                }

                var isButton = event.target.tagName === 'BUTTON';
                var isDropdownItem = event.target.closest('.dropdown-menu');
                if (!isButton && !isDropdownItem) {
                    var panelLink = this.dataset.panel;
                    var panelCell = this.querySelector('.panel-cell');
                    if (panelCell) {
                        var panel = panelCell.querySelector('.device-panel');
                        panel.src = panelLink;
                        panelCell.style.display = panelCell.style.display === 'none' ? 'table-cell' : 'none';
                    }
                }
            });
        });


        var showPanelBtns = document.getElementsByClassName('show-panel-btn');
        Array.from(showPanelBtns).forEach(function (btn) {
            btn.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });

        var detailBtns = document.querySelectorAll('.btn-primary');
        Array.from(detailBtns).forEach(function (btn) {
            btn.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
    </script>
{% endblock content %}
