{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
    {% if user.is_authenticated %}
    <h3 class="page-title">Simulation Setup</h3>
    <div class="card-block px-0 py-3">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <div class="wrapper-create-work">
                    <h2 class="text-center mb-5" style="text-decoration: underline;">
                        <button type="button" class="btn btn-primary btn-xl" disabled>{{ machine_chosen }}</button>
                    </h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="font-weight-bold">GitHub's branch</label>
                            <input type="text" name="branchChoice" class="form-control" placeholder="Choose a branch for the simulation">
                            <small class="form-text text-muted">What's the GitHub branch?</small>
                        </div>
                        <input hidden type="text" name="user" value="{{ user.username }}"/>
                        <div class="form-group">
                            <label class="font-weight-bold">Name of the simulation</label>
                            <input type="text" name="name_sim" class="form-control" placeholder="Choose a name for the simulation (or a random name will be assigned)">
                            <small class="form-text text-muted">What's the simulation's name?</small>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Number of nodes</label>
                            <input type="text" name="numNodes" class="form-control" placeholder="Enter the number of nodes">
                            <small class="form-text text-muted">How many nodes do you want to execute this job?</small>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Execution time limit</label>
                            <input type="text" name="execTime" class="form-control" placeholder="Enter the limit execution time">
                            <small class="form-text text-muted">Maximum execution time limit</small>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">QOS</label>
                            <input type="text" name="qos" class="form-control" placeholder="Enter the queue you want to use">
                            <small class="form-text text-muted">QOS (default bsc_cs)</small>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Project Name</label>
                            <input type="text" name="project_name" class="form-control" placeholder="Enter the project name you want to use">
                            <small class="form-text text-muted">Project Name</small>
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                const machineChosen = "{{ machine_chosen }}";
                                const autoRestartCheckbox = document.getElementById('autoRestartCheckbox');
                                const checkpointFlagCheckbox = document.getElementById('checkpointFlagCheckbox');

                                autoRestartCheckbox.addEventListener('change', function () {
                                    checkpointFlagCheckbox.checked = this.checked;
                                    checkpointFlagCheckbox.disabled = this.checked;
                                });
                            });
                        </script>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="checkpoint_flag">
                                <label class="form-check-label" for="inlineRadio1">Checkpointing</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="auto_restart">
                                <label class="form-check-label" for="inlineRadio1">Auto restart </label>
                            </div>
                            <small class="form-text text-muted">Allows auto restarting from the checkpoint (If you activate this flag, the previous flag will also be considered active)</small>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="gSwitch">
                            <label class="form-check-label" for="inlineRadio1">Graph option</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="tSwitch">
                            <label class="form-check-label" for="inlineRadio2">Trace option</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="dSwitch">
                            <label class="form-check-label" for="inlineRadio3">Debug option</label>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="customFile">Input file</label>
                            {% render_field form.document type="file" class="form-control" id="customFile" placeholder="Upload your workflow definition" %}
                            <small class="form-text text-muted">Upload your workflow's definition</small>
                        </div>
                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 feather icon-play" onclick="this.disabled=true,this.form.submit();"></button>
                    </form>
                    {% if flag == "second" %}
                    <div class="alert alert-danger text-center" role="alert">
                        The provided token to decrypt your SSH keys is wrong!
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="wrapper">
        <h2>CAELESTIS</h2>
        <h4>Login and Register</h4>
    </div>
    {% endif %}
{% endblock content %}
